body {
    margin: 0;
    padding: 0;
    background: url("./images/piano-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box div a {
    text-decoration: none;
    color: white;
    transition: all 250ms ease;
}

.box div a:hover {
    border-bottom: 1.5px solid #b9b9b9;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: all 500ms ease;
}

.box li a:hover {
    color: #b9b9b9;
}
