body{
    background-color: rgba(255, 0, 0, 0.671);
   
}
li{
color:aqua
}
.first{
    font-size: 20px;
}
.second{
    text-decoration: underline;
}
.box1{
    /*background-color; rgb(1,126,126)
    border-color;
    border-width:1px;
    border-style:solid

    padding; 20px
    margin:20px

}